extends layout

block content
  div(id="winnerMessage" style="color:white;")
    | Lights Out: {{score()['Red']}}
  div(ng-model="bitIds.light0", ng-style="calcBitStyle('light0')", ng-click="onClickBit('light0')", class="bit", id="light0")
  div(ng-model="bitIds.light1", ng-style="calcBitStyle('light1')", ng-click="onClickBit('light1')", class="bit", id="light1")
  div(ng-model="bitIds.light2", ng-style="calcBitStyle('light2')", ng-click="onClickBit('light2')", class="bit", id="light2")
  div(ng-model="bitIds.light3", ng-style="calcBitStyle('light3')", ng-click="onClickBit('light3')", class="bit", id="light3")
  div(ng-model="bitIds.light4", ng-style="calcBitStyle('light4')", ng-click="onClickBit('light4')", class="bit", id="light4")
  div(ng-model="bitIds.light5", ng-style="calcBitStyle('light5')", ng-click="onClickBit('light5')", class="bit", id="light5")
  div(ng-model="bitIds.light6", ng-style="calcBitStyle('light6')", ng-click="onClickBit('light6')", class="bit", id="light6")
  div(ng-model="bitIds.light7", ng-style="calcBitStyle('light7')", ng-click="onClickBit('light7')", class="bit", id="light7")
  div(ng-model="bitIds.light8", ng-style="calcBitStyle('light8')", ng-click="onClickBit('light8')", class="bit", id="light8")
  div(ng-model="bitIds.light9", ng-style="calcBitStyle('light9')", ng-click="onClickBit('light9')", class="bit", id="light9")
  div(ng-model="bitIds.light10", ng-style="calcBitStyle('light10')", ng-click="onClickBit('light10')", class="bit", id="light10")
  div(ng-model="bitIds.light11", ng-style="calcBitStyle('light11')", ng-click="onClickBit('light11')", class="bit", id="light11")
  div(ng-model="bitIds.light12", ng-style="calcBitStyle('light12')", ng-click="onClickBit('light12')", class="bit", id="light12")
  div(ng-model="bitIds.light13", ng-style="calcBitStyle('light13')", ng-click="onClickBit('light13')", class="bit", id="light13")
  div(ng-model="bitIds.light14", ng-style="calcBitStyle('light14')", ng-click="onClickBit('light14')", class="bit", id="light14")
  div(ng-model="bitIds.light15", ng-style="calcBitStyle('light15')", ng-click="onClickBit('light15')", class="bit", id="light15")
  div
    button(class="btn btn-default", ng-click="uncheckable = !uncheckable") Up
  div
    button(class="btn btn-default", ng-click="uncheckable = !uncheckable") Down
  div
    button(class="btn btn-default", ng-click="uncheckable = !uncheckable") Left
  div
    button(class="btn btn-default", ng-click="uncheckable = !uncheckable") Right
