doctype html
html(ng-app="MountOlympusAirsoft")
  head
    title= 'Mt. Olympus Airsoft'
    link(rel='stylesheet', href='/css/angular.css')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/js/app.js')
    script(src='//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js')
    script(src='//cdn.firebase.com/js/client/2.2.4/firebase.js')
  body(ng-controller="Main")
      block content