doctype html
html
  head
    title= 'Mt. Olympus Airsoft'
    link(rel='stylesheet', href='../css/app.css')
    script(src='/node_modules/angular/angular.min.js')
    script(src='../js/angular.js')
  body(ng-controller="Main")
      block content