<span class="position">{{ selectedLight.top }}</span>
<span class="position">{{ selectedLight.left }}</span>
<div class="btn-group btn-group-sm">
    <button class="btn btn-default" ng-mousedown='mouseDown("up")' ng-mouseup='mouseUp()'>
        <i class="fa fa-caret-up"></i>
    </button>
    <button class="btn btn-default" ng-mousedown='mouseDown("down")' ng-mouseup='mouseUp()'>
        <i class="fa fa-caret-down"></i>
    </button>
</div>